.container {
  height:100%;
  width:100%;
  padding: 10px;
  position: fixed;
  /* background-color: blue; */
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:center
}

.div1 {
  flex-grow: 1;
  padding: 10px;
  margin-top: 10px;
}

.div2 {
  flex-grow: 1;
  padding: 10px;
}

.div3 {
  flex-grow: 1;
  display:flex;
  padding: 20px;
  flex-direction: column;
}
.div4 {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
}

.div5 {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}
.div5 {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
}
.div6 {
  display:flex;
  flex-direction: column;
  height: 480px;
  margin-top: 10px;
  overflow:auto;
}
.div7 {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 20px;
  justify-content:center
}
.btn {
  margin: 10px;
}

.tf  {
  height:100%;
  width:100%;
}

.imageTxt {
  margin-top: 10px;
  border:1px solid darkslategray;
  border-radius:10px;
  padding: 10px;
  color:blue;
}

.lableTxt {
  color:blue;
}

.formControl {
  width: 100%;
  margin-left: 20px;
  margin-right: 20px;
}

.inputItem {
  width: 100%;
  margin-top: 10px;
}
